taichi==0.7.16
torch==2.9.0
torchvision==0.7.0

IPython
h5py
matplotlib
numpy
cython
glumpy
triangle
tqdm
requests
pyopengl
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability